﻿/* CSS-POSITION-FIXED IE6 bug */
#webChatDiv .fixed-top /* 头部固定 */
{
    position: fixed;
    bottom: auto;
    top: 0px;
}
#webChatDiv .fixed-bottom /* 底部固定 */
{
    position: fixed;
    bottom: 0px;
    top: auto;
}
#webChatDiv .fixed-left /* 左侧固定 */
{
    position: fixed;
    right: auto;
    left: 0px;
}
#webChatDiv .fixed-right /* 右侧固定 */
{
    position: fixed;
    right: 0px;
    left: auto;
}

/* 上面的是除了IE6的主流浏览器通用的方法 */
* html, * html body
{
    background-image: url(about:blank);
    background-attachment: fixed;
}
* html #webChatDiv .fixed-top 
{
    position: absolute;
    bottom: auto;
    top: expression(eval(document.documentElement.scrollTop));
}
* html #webChatDiv .fixed-right 
{
    position: absolute;
    right: auto;
    left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));
}
* html #webChatDiv .fixed-bottom 
{
    position: absolute;
    bottom: auto;
    top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
* html #webChatDiv .fixed-left 
{
    position: absolute;
    right: auto;
    left: expression(eval(document.documentElement.scrollLeft));
}

#webChatDiv div,#webChatDiv ol,#webChatDiv ul,#webChatDiv li,#webChatDiv h3,#webChatDiv h4,#webChatDiv p,#webChatDiv span
{
	color:#333333;
	font-family:Tahoma,Geneva,sans-serif,'宋体';
	font-size:12px;
	line-height:1.5;
	margin:0;
	padding:0;	
}

#webChatDiv a:link, #webChatDiv a:visited 
{
	color:#1478C8;
}

#webChatDiv a 
{
	text-decoration:none;
}


h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

#webChatDiv .c
{
	bottom:0;
	position:fixed;
	right:5px;
	z-index:2012;
}
#webChatDiv ul,	#webChatDiv li
{
	list-style:none outside none;
}

#webChatDiv .del,#webChatRoom h3.dropDown,#webChatRoom h3.dropRight,#webChatRoom .chat .chatBody li.chatTips b,
#webChatDiv .chat .chatBody .alerMsgCon .alertMessage .icon,#webChatRoom .beforeLogin span
{
	background:url("../images/webchat/chat_icon.gif") no-repeat scroll 0 0 transparent;
}
#miniChat .chatView,#miniChat .miniBar .Indent_bt,#miniChat .miniBar .logo,#miniChat .miniBar span,#miniChat .miniBar .pp_ico,#miniChat .Expand_bt,
#webChatRoom #webChatRoom_header .logo,#webChatRoom #webChatRoom_header .setClose,#webChatRoom #webChatRoom_header .setMini,#webChatRoom .chat .buttonArea span
{
	background:url("../images/webchat/chat_bg.gif") no-repeat scroll 0 0 transparent;
}
#miniChat .miniBar,#webChatRoom #webChatRoom_header,#webChatRoom .chat .groupMember .groupTitle
{
	background:url("../images/webchat/chat_x_bg.gif") repeat-x scroll 0 0 transparent;
}


#webChatDiv .del 
{
	background-position:-9px -497px;
	float:right;
	font-size:0;
	height:16px;
	margin-right:1px;
	margin-top:10px;
	width:14px;
}
#webChatDiv .del:hover
{
	background-position:-8px -511px;
	height:16px;
	width:14px;
}

/*------------------*/
/*--chatroom start--*/
/*------------------*/

#webChatDiv .c #webChatRoom 
{	
	clear:both;
	float:right;
}
#webChatRoom {
	background-color:#d4dee6;
	border:1px solid #80a4c5;
	position:absolute;
	height:340px;
	width:395px;
	/*left:-393px;*/
	right:0px;
	top:-343px;
	_right:2px;
	_top:-348px;
}
#webChatRoom #webChat_loading {
	background:none repeat scroll 0 0 #FFFFFF;
	height:375px;
	left:0;
	position:absolute;
	top:0;
	width:604px;
}
#webChatRoom #webChat_loading p
{
	height:25px;
	left:50%;
	margin-left:-75px;
	margin-top:-12px;
	position:absolute;
	text-indent:26px;
	top:50%;
	width:150px;
}
#webChatRoom #webChatRoom_header 
{
	background-position:0 0;
	border-bottom:1px solid #80a4c5;
	height:25px;
	overflow:hidden;
	padding-right:5px;
}
#webChatRoom #webChatRoom_header .logo {
	background-position:-160px -38px;
	float:left;
	height:19px;
	margin-left:7px;
	margin-top:4px;
	width:65px;
}
#webChatRoom #webChatRoom_header .setClose {
	background-position:-222px -98px;
	float:right;
	height:20px;
	margin-top:2px;
	width:19px;
}
#webChatRoom #webChatRoom_header .setCloseHover {
	background-position:-241px -98px;
	cursor:pointer;
}
#webChatRoom #webChatRoom_header .setCloseDown {
	background-position:-260px -98px;
	cursor:pointer;
}
#webChatRoom #webChatRoom_header .setMini {
	background-position:-157px -98px;
	float:right;
	height:20px;
	margin-right:5px;
	margin-top:2px;
	width:19px;
}
#webChatRoom #webChatRoom_header .setMiniHover {
	background-position:-176px -98px;
	cursor:pointer;
}
#webChatRoom #webChatRoom_header .setMiniDown {
	background-position:-195px -98px;
	cursor:pointer;
}

#webChatRoom .beforeLogin {
	float:right;
	height:25px;
	line-height:25px;
	margin-right:8px;
}
#webChatRoom .beforeLogin span {
	background-position:-7px -213px;
	float:left;
	height:21px;
	line-height:21px;
	margin-right:5px;
	margin-top:3px;
	overflow:hidden;
	padding-left:19px;
	padding-right:5px;
}

#webChatRoom .beforeLogin span u {	
	text-decoration:none;
}

#webChatRoom .beforeLogin input 
{
	background-color:transparent;
	border:0 none;
	border-bottom:1px solid gray;
	display:block;
	font-size:12px;
	margin-top:3px;
	width:50px;
}

#webChatRoom .chat 
{
	overflow:hidden;
	padding:6px 0 6px 6px;
}

#webChatRoom .chat .groupMember
{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #b1c7dc;
	float:right;
	height:275px;
	margin-right:6px;
	width:110px;
	_margin-right:3px;	
}

.infoLinkWrapper 
{
	bottom:10px;
	position:absolute;
	right:10px;
}

#webChatRoom .chat .groupMember .groupTitle 
{
	background-position:0 -25px;
	border-bottom:1px solid #b1c7dc;
	font-size:12px;
	font-weight:normal;
	height:24px;
	line-height:24px;
	padding-left:8px;
}

#webChatRoom .chat .groupMember .memberList 
{
	height:268px;
	margin-left:6px;
	overflow-x:hidden;
	overflow-y:auto;
	padding-top:2px;
	*width:105px;
}


#webChatRoom .chat .groupMember .memberList h3.dropDown 
{
	background-position:-9px -292px;
}
#webChatRoom .chat .groupMember .memberList h3.dropRight
{	
	background-position:-9px -305px;
}
#webChatRoom .chat .groupMember .memberList h3 
{
	background-position:-6px -410px;
	color:#666666;
	cursor:default;
	font-size:12px;
	line-height:21px;
	overflow:hidden;
	padding-left:15px;
	white-space:nowrap;
}
#webChatRoom .chat .groupMember .memberList li 
{
	background:url("../images/webchat/chat_icon.gif")  no-repeat scroll -1px -1000px transparent;
	border:1px solid #FFFFFF;
	line-height:23px;
	margin-right:5px;
	overflow:hidden;
	padding-left:5px;
	padding-right:2px;
	white-space:nowrap;
}

#webChatRoom .chat .groupMember .memberList .listHover {
 	background-color:#cde3f2;
	border:1px solid #BEBEBE;
	margin-right:5px;
}

#webChatRoom .chat .groupMember .memberList li .self 
{
	color:#5a9529;
}
#webChatRoom .chat .groupMember .memberList li a 
{
	background:url("../images/webchat/chat_icon.gif") no-repeat scroll -8px -274px transparent;
	color:#666666;
	display:block;
	line-height:23px;
	outline:medium none;
	overflow:hidden;
	padding-left:20px;
	white-space:nowrap;
	width:72px;
}
#webChatRoom .chat .chatArea
{
	overflow:hidden;
}
#webChatRoom .chat .chatBody 
{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #b1c7dc;
	overflow:hidden;
	padding:2px 1px 1px 5px;
	position:relative;
	margin-right:10px;
	_width:253px;
}

#webChatRoom .chat .chatBody ul 
{
	overflow-x:hidden;
	overflow-y:auto;
	*width:253px;
}
#webChatRoom .chat .chatBody li 
{
	line-height:1.5;
	overflow:hidden;
}
#webChatRoom .chat .chatBody li div 
{
	margin-bottom:1px;
	*width:230px;
}
#webChatRoom .chat .chatBody li div p {
	word-wrap:break-word;
}
#webChatRoom .chat .chatBody li div span.visitor {
	color:#1478C8;
}
#webChatRoom .chat .chatBody li div span.self {
	color:#0E8811;
}
#webChatRoom .chat .chatBody li div span 
{
	float:left;
	margin-right:7px;
	/*display:inline;
	overflow:hidden;*/
}
#webChatRoom .chat .chatInput 
{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #b1c7dc;
	height:20px;
	line-height:19px;
	margin: 7px 10px 6px 0;
	overflow:hidden;
	padding:2px;
	*width:255px;
}
#webChatRoom .chat .chatInput div 
{
	width:100%;
}
#webChatRoom .chat .chatInput input 
{
	border:0 none;
	color:#999999;
	font-size:12px;
	height:18px;
	line-height:19px;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
}
#webChatRoom a.available 
{
	background-position:-8px -3px;
}
#webChatRoom .chat .chatBody li.chatTips {
	*width:253px;
}
#webChatRoom .chat .chatBody li.chatTips b {
	background-position:-8px -117px;
	float:left;
	height:16px;
	width:16px;
}
#webChatRoom .chat .chatBody li.chatTips em {
	color:#999999;
	display:block;
	font-style:normal;
	line-height:19px;
	margin-left:18px;
}
#webChatRoom .chat .buttonArea {
	height:21px;
	*width:262px;
}
#webChatRoom .chat .buttonArea span {
	background-position:0px -2px;
	cursor:pointer;
	display:block;
	float:right;
	height:23px;
	line-height:21px;
	text-align:center;
	width:66px;
	margin-right:9px;
	*margin-right:0px;
}
#webChatRoom .chat .buttonArea span.sendHover {
	background-position:-70px -2px;
	cursor:pointer;
}
#webChatRoom .chat .buttonArea span.sendDown {
	background-position:-140px -2px;
	cursor:pointer;
}
#webChatRoom .chat .chatBody .alerMsgCon {
	display:none;
	left:2px;
	position:absolute;
	top:1px;
	width:91%;
}
#webChatRoom .chat .chatBody .alerMsgCon .alertMessage {
	background:none repeat scroll 0 0 #FFF1CD;
	border:1px solid #DBC286;
	color:#000000;
	font-family:'Arial','Verdana','宋体';
	font-size:12px;
	margin-bottom:1px;
	padding-bottom:2px;
}
#webChatRoom .chat .chatBody .alerMsgCon .alertMessage .icon {
	background-position:-8px -119px;
	float:left;
	font-size:0;
	height:16px;
	margin-left:2px;
	margin-top:2px;
	width:20px;
}
#webChatRoom .chat .chatBody .alerMsgCon .alertMessage .del {
	background-position:-9px -500px;
	float:right;
	font-size:0;
	height:13px;
	margin-right:1px;
	margin-top:5px;
	width:14px;
}
#webChatRoom .chat .chatBody .alerMsgCon .alertMessage .del:hover {
	background-position:-9px -513px;
}

#webChatRoom .errorTips {
	background-position:0 -124px;
	color:#666666;
	display:none;
	height:24px;
	left:140px;
	padding-left:5px;
	padding-top:12px;
	position:absolute;
	top:28px;
	width:131px;
}

/*----------------*/
/*--chatroom end--*/
/*----------------*/


/*------------------*/
/*--minichat start--*/
/*------------------*/

#webChatDiv .c #miniChat
{
	clear:both;
	float:right;
}
#miniChat 
{
	display:none;
	position:relative;
}
#miniChat .chatView {
	background-position:0 -96px;
	border-bottom:medium none;
	clear:both;
	height:60px;
	overflow:hidden;
	width:143px;
}
#miniChat .chatView ul {
	height:39px;
	overflow:hidden;
	padding:11px 15px 0 6px;
}
#miniChat .chatView li {
	height:39px;
	overflow:hidden;
	text-indent:3px;
	/*word-wrap:break-word;
	word-break:break-all;*/
	width:123px;
}
#miniChat .chatView li strong.visitor {
	color:#1478C8;
}
#miniChat .chatView li strong {
	margin-right:2px;
}
#miniChat .miniBar {
	border:1px solid #80a4c5;
	cursor:pointer;
	float:left;
	height:23px;
	padding-right:1px;
	width:140px;
}

#miniChat .miniBar .Indent_bt {
	background-position:-1px -67px;
	display:block;
	float:left;
	height:23px;
	width:17px;
}

#miniChat .miniBar .logo {
	background-position:-160px -38px;
	float:left;
	height:20px;
	margin-left:5px;
	margin-top:3px;
	width:20px;
}

#miniChat .miniBar .close {
	background-position:-152px -74px;
	display:block;
	float:right;
	height:16px;
	margin-top:1px;
	width:16px;
}

#miniChat .miniBar .closeHover {
	background-position:-168px -74px;
	cursor:pointer;
}
#miniChat .miniBar .closeDown {
	background-position:-184px -74px;
	cursor:pointer;
}
#miniChat .miniBar .zoom {
	background-position:-207px -74px;
	display:block;
	float:right;
	height:16px;
	margin-top:1px;
	width:16px;
}
#miniChat .miniBar .zoomHover {
	background-position:-223px  -74px;
	cursor:pointer;
}
#miniChat .miniBar .zoomDown {
	background-position:-240px  -74px;
	cursor:pointer;
}
#miniChat .miniBar div.pp_ico
{
	background:url("../images/webchat/chat_icon.gif") no-repeat scroll -3px -5px transparent;
	float:right;
	height:23px;
	width:24px;
}
#miniChat .miniBar div.pp_icoHover
{
	background-position:-3px -29px;
}
#miniChat .miniBar div.pp_icoDown
{
	background-position:-3px -53px;
}
#miniChat .miniBar h4 {
	float:left;
	font-size:14px;
	line-height:25px;
	margin:2px;
	margin-top:2px;
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
	width:42px;
}

#miniChat .del 
{
	clear:both;
	display:block;
	margin-top:3px;
	position:absolute;
	right:0;
	top:3px;
}

#miniChat .Expand_Box {
	display:none;
	float:right;
	height:37px;
}
#miniChat .Expand_bt {
	bottom:0px;
	cursor:pointer;
	height:27px;
	position:absolute;
	right:-10px;
	width:51px;
	_right:2px;
	_bottom:0px;
}
#miniChat .expandbt_tp1 {
	background-position:-27px -65px;
}

/*----------------*/
/*--minichat end--*/
/*----------------*/