/*All Window Css*/
.ut{margin:0px; padding:0px; list-style:none;}
body
{	
	text-align:left;
	font-family:宋体, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0;
	margin:0;
}
a{ text-decoration:none;}
.wContainerBorder
{	
	position:absolute;
	top:0;
}
.wContainer
{
	position:relative;
}
.wContent
{
	padding:1px;
	position:relative;
}
.wSideBarMain
{
	height:30px;
	background:url(../Images/style/01/sidebar_bg.gif);
	background-position:0px 1px;
	overflow:hidden;
}
.wMainSideBarContent
{
	padding:0px;
	border:1px solid #308904;
	position:relative;
	
}
.SideBarJoin
{
	height:24px;
	width:53px;
	cursor:pointer;
	overflow:hidden;
	margin-left:2px;
}
.SideBarAddFriend
{
	height:24px;
	width:75px;
	cursor:pointer;
	overflow:hidden;
	margin-left:2px;
}
.SideBarCollapse
{
	height:24px;
	width:24px;
	cursor:pointer;
	overflow:hidden;
	margin-left:2px;
}
.selectFix
{
	position:absolute;
	left:0px;!important;
	@left:-2px;!important;
	top:0px;!important;
	@top:-2px;!important;
	margin:0px;
	z-index:-1;
	width:100%;
	height:100%;	
}
.wRound_lt
{
	width:2px;
	height:2px;
	position:absolute;
	background-image:url(../Images/Round_lt.gif);
	left:-1px;
	top:-1px;
	font-size:1px;
}
.wRound_rt
{
	width:2px;
	height:2px;
	position:absolute;
	background-image:url(../Images/Round_rt.gif);
	right:-1px;
	top:-1px;
	font-size:1px;
}
.wRound_lb
{
	width:2px;
	height:2px;
	position:absolute;
	background-image:url(../Images/Round_lb.gif);
	left:-1px;
	bottom:-1px;
	font-size:1px;
}
.wRound_rb
{
	width:2px;
	height:2px;
	position:absolute;
	background-image:url(../Images/Round_rb.gif);
	right:-1px;
	bottom:-1px;
	font-size:1px;
}
.MenuLeftBG
{
	position:relative;
	width:26px;
	background-image:url(../Images/MenuLeftBG.gif);
	background-repeat:repeat-y;
	z-index:-1;
}
.wResize
{
	width:12px;
	height:12px;
	position:absolute;
	right:-1px;
	bottom:-1px;
	cursor:SE-resize;
	z-index:999;
	background-image:url(../Images/Resize.gif);
	font-size:1px;
}
.wIcon
{
	position:absolute;
	left:4px;
	top:6px;
}
.wText
{
	padding:4px 80px 0 25px;
	overflow:hidden;
	word-break:break-all;
	height:18px;
	-moz-user-select:none;
}
.wControl
{
	position:absolute;
	right:1px;
	top:1px;
}
.wControlMin
{
	width:18px;
	height:18px;
	overflow:hidden;
	float:left;
}
.wControlClose
{
	width:18px;
	height:18px;
	overflow:hidden;
	float:left;
}
.userStatusSwitch
{
	height:18px;
	width:27px;
	cursor:pointer;
	overflow:hidden;
}
.UTSwitchPannel
{
	padding:2px 0px 0px 0px;
	clear:both;		 
	width:100%;/*这里调整整个滑动标签的宽度*/	
}
.UTSwitch
{	
	height:24px;	
	background-repeat: no-repeat;	
}
.UTSwitch ul
{
	margin:0px; padding:0px;
	height:24px;	
}
.UTSwitch li
{	
	float:left;
	height: 24px;	
	width: 121px;
	text-align:center;
	cursor:pointer;
	-moz-user-select:none;
	line-height:28px;
	overflow:hidden;
}
.UTNormal
{ 
	background-image:url(../Images/ut_normal.gif); 
	background-repeat: no-repeat;	
}
.UTCurrent
{
	background-image: url(../Images/ut_current.gif); 
	background-repeat: no-repeat;	
}
.UTHover
{ 
	background-image: url(../Images/ut_hover.gif); 
	background-repeat: no-repeat; 
}
.MainAddFriend
{
	height:23px;
	width:68px;
	cursor:pointer;
	overflow:hidden;
	margin-left:5px;	
}
.IMConfig
{
	height:23px;
	width:51px;
	cursor:pointer;
	overflow:hidden;
	float:right;
	margin-right:5px;
}
.IMOCButton
{
	height:23px;
	width:68px;
	cursor:pointer;
	overflow:hidden;
	margin-left:5px;
	margin-top:5px;
}
.wLoading
{
	padding:2px;
	top:18px;
	right:9px;
	background:#c44;
	color:#fff;
	position:absolute;
	display:none;
}
.wWindowBorder
{
	position:absolute;
	display:none;
	z-index:99999;
	border:1px dashed #fff;
	background-color:#333;
	filter: alpha(opacity=20); 
	opacity: 0.2;
	-moz-user-select:none;
}
.wWindowCover
{
	position:absolute;
	display:none;
	background-color:#444;
	filter: alpha(opacity=60); 
	opacity: 0.6;
}
.wWindowContent
{
	width:100%;
}
.wElemHidden
{
	width:1px;
	height:1px;
	font-size:1px;
	filter:alpha(opacity=1); 
	opacity:0.01;
	position:absolute;
	left:-100px;
}
/*BlockUI*/
.BlockShadow
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	min-height:100%;
	background:#cccccc;
	z-index:100;
	filter:alpha(opacity=80);
	opacity:0.8;
	margin:0;
	padding:0;
}
/*Chat Window Css*/
.wChat
{
	width:516px;
	height:516px;
	position:absolute;
	border:1px solid #308904;
	background-color:#fff;
}
.wChatTitle
{
	background-image:url(../Images/ChatTitleBG.gif);
	cursor:default;
}
.ChatUserFaceBG
{
	position:absolute;
	left:3px;
	top:3px;
}
.ChatUserFace
{
	position:absolute;
	left:4px;
	top:4px;
}
.ChatHint
{
	position:relative;
	padding:0px 0 0 0;
	height:18px;
	background-color:#fcfce7;
	border:1px solid #f0e4b6;
	overflow:hidden;
}
.ChatHintBoder
{
	padding:1px 1px 2px 1px;
	float:top;
	height:18px;
	display:none;
	overflow:hidden;
}
.ChatHintText
{
	/*line-height:20px;*/
	position:absolute;	
	float:left;
	padding-top:3px;
	padding-left:3px;
	color:#d27440;
}
.wTeamChat
{
	width:516px;
	height:516px;
	position:absolute;
	border:1px solid #308904;
	background-color:#fff;
}
.wTeamChatTitle
{
	height:22px;
	background-image:url(../Images/ChatTitleBG.gif);
	cursor:default;
}
.wMiniTeamChat
{
	
}
.wMiniTeamChatTitle
{	
	/*width:604px;*/
	height:22px;
	border:1px solid #308904;
	border-bottom:0px;
	background-image:url(../Images/ChatTitleBG.gif);
	cursor:default;
}

.wChatTool
{
	height:30px;
	background-image:url(../Images/ChatToolBG.gif);
	background-position:0px 30px;
}
.wChatMain
{
	height:400px;
	background-image:url(../Images/ChatMainBG.gif);
	padding:5px 2px 3px 5px;
	float:left;
}
.wChatSide
{
	width:125px;
	background-image:url(../Images/ChatMainBG.gif);
	float:left;
	display:none;
	position:relative;
}
.wChatSideBar
{
	position:absolute;
	top:49px;
	right:1px;
	width:11px;
	padding:5px 0 5px 0;
	font-size:1px;
	background-image:url(../Images/ChatMainBG.gif);
	-moz-user-select:none;
}
.wChatSignHolder
{
	overflow:hidden;
	/*position:relative;*/
	top:2px;
}
.wChatToolBar
{
	height:35px;
	padding-left:5px;
}
.wChatToolBarButton
{
	height:31px;
	width:32px;
	padding:2px 0 0 2px;
	float:left;
}
.wChatToolBarButtonHover
{
	background:url(../Images/chatbuttonhoverbg.gif) no-repeat;
}
.wChatSign
{
	height:20px;
	text-indent:24px;
	color:#6F8A92;
	width:4000px;
	padding-left:15px;
}
.wChatResizeBar
{
	position:absolute;
	left:6px;
	background-color:#000;
	filter: alpha(opacity=60); 
	opacity: 0.6;
	width:100px;
	height:10px;
	display:none;
	cursor:S-resize;
	font-size:1px;
}
.wChatResize
{
	height:10px;
	font-size:1px;
	cursor:S-resize;
	background:url(../Images/ResizeDot.gif) no-repeat center center;
}
.wChatFaceButtonBar
{
	background:url(../Images/chatfacebuttonbg.gif) repeat-x;
	height:21px;
	font-size:1px;
	border-bottom:1px solid #BED6E0;
	padding:1px 1px 2px 1px;
}
.wChatViewFontBar
{   
    bottom:0px;
	background: url(../Images/chatfacebuttonbg.gif) repeat-x;
    height: 20px; width: 100%; 
    border-top: 1px solid #BED6E0;
}
.wChatMsgTitle
{
	margin:4px 4px 0 2px;
	color:#5579b4;
}
.wChatMyMsgTitle
{
	margin:4px 4px 0 2px;
	color:#ab7c55;
}
.wChatMsgContent
{
	margin:4px 4px 0 15px;
}
.wChatMsgSpecial
{
	margin:4px 4px 0 2px;
	color:#545454;
}
.wChatMsgSplit
{
	height:1px;
	border-bottom:1px solid #808080;
	width:46px;
	font-size:1px;
	margin:5px 2px 5px 2px;
}
.wChatUserFace
{
	background-image:url(../Images/chatfacebg.gif);
	width:110px;
	height:111px;
	position:absolute;
	padding:9px 0 0 10px;
}
.wChatFaceButton
{
	height:24px;
	width:32px;
	padding:2px;
	font-size:1px;
	float:left;
}
.wChatFaceButtonHover
{
	background-image:url(../Images/chatfacebuttonhover.gif);
}
.EmotionContainer
{
	border:1px solid #DFDFDD;
	position:absolute;
	z-index:10000;
	background-color:#fff;
	display:none;
}
.EmotionItem
{
	height:24px;
	width:24px;
	padding:2px;
	border:1px solid #DFDFDD;
	float:left;
	margin:5px 0 0 5px;!important;
	@margin:5px 0 0 4px;!important;	
}
.EmotionItemHover
{
	border:1px solid #3869BB;
}
/*TeamChat Window Css*/
.wTeamTitle
{
	height:34px;
}
.wTeamChatHead
{
	width:110px;
	height:111px;
	position:absolute;
	padding:9px 0 0 10px;
}
.wTeamLeft
{
	height:100%;	
	width:162px;
	float:left;
	border-right:1px solid #9fd082;
}
.wTeamLeftTop
{
	height:180px;
	width:146px;!important;
	@width:148px;!important;	
	padding:20px 0 0 18px;
	background-color:#e0f0d6;
	border-bottom:1px solid #9fd082;
}
.wTeamLeftBottom
{
	height:353px;!important;
	@height:360px;!important;
	width:136px;!important;
	@width:140px;!important;	
	padding:10px 15px 0 10px;
	color:#2b2b2b;
	background-color:#f2feea;
}
.wTeamCenter
{
	width:515px;
	height:450px;
	float:left;
}
.wTeamAll
{
	width:100%;
	height:250px;
}
.wTeamRight
{
	height:500px;	
	width:162px;
	float:right;
	border-left:1px solid #9fd082;
}
.wTeamChatSide
{
	width:125px;
	background-image:url(../Images/chatmainbg1.gif);
	float:left;
	display:none;
	position:relative;
}
.wTeamUserList
{
	width:150px;
	height:500px;
	padding:0px 0 0 0px;
}
.wTeamUserHead
{
	width:100%;
	text-indent:25px;
	line-height:20px;
	height:20px;
}
.wTeamUserContainer
{
	width:100%;
	height:530px;
	overflow-x:hidden;
	overflow-y:auto;
}
.wTeamUserItem
{
	height:25px;
	padding-left:13px;
	width:180px;
	border:1px solid #EFEFEF
}
.wTeamChatResizeBar
{
	position:absolute;
	left:168px;
	background-color:#000;
	filter: alpha(opacity=60); 
	opacity: 0.6;
	width:515px;
	height:10px;
	display:none;
	cursor:S-resize;
	font-size:1px;
}
.UTSwitchPannelMirror
{
	padding:2px 0px 0px 0px;
	clear:both;		
	width:100%;/*这里调整整个滑动标签的宽度*/	
}
.UTSwitchMirror
{	
	height:24px;	
	background-repeat: no-repeat;	
}
.UTSwitchMirror ul
{
	height:24px;	
}
.UTSwitchMirror li
{	
	float:left;
	height: 24px;	
	width: 121px;
	text-align:center;
	cursor:pointer;
	-moz-user-select:none;
	line-height:28px;
	overflow:hidden;
}
.UTNormalMirror
{ 
	background-image:url(../Images/ut_normal_mirror.gif); 
	background-repeat: no-repeat;	
}
.UTCurrentMirror
{ 
	background-image: url(../Images/ut_current_mirror.gif); 
	background-repeat: no-repeat;	
}
.UTHoverMirror
{ 
	background-image: url(../Images/ut_hover_mirror.gif); 
	background-repeat: no-repeat; 
}
/*Main Window Css*/
.wMain
{
	width:266px;
	height:620px;
	right:60px;
	position:absolute;
	border:1px solid #308904;
	background-color:#D5FFFF;
}
.wMainTitle
{
	background-image:url(../Images/MainTitleBG.gif);
	cursor:default;
	overflow:hidden;
}
.wMainTool
{
	height:88px;
	background-image:url(../Images/MainToolBG.gif);
}
.wMainMain
{
	background-color:#fff;
	height:490px;
	overflow-x:hidden;
	overflow-y:auto;
	border-bottom:1px solid #BED6E0;
	width:100%;
	-moz-user-select:none;
	cursor:default;
}
.wMainUserInfo
{
	height:46px;
	padding:7px 8px 7px 8px;
	background-image:url(../Images/UserInfoBG.gif);	
	background-repeat:no-repeat;
	background-position: 100% 50%;	
}
.wMainUserFaceBG
{
	height:44px;
	width:44px;
	padding:4px 0 0 4px;
	background-image:url(../Images/FaceBG.gif);
	float:left;
}
.wMainUserInfoRight
{
	float:left;
	width:180px;
	overflow:hidden;
	white-space:nowrap;	
}
.UserInfoBG
{
	width:77px;
	float:right;
}
.wMainUserName
{
	font-size:13px;
	line-height:20px;
	color:#000;
	margin:8px 0 0 6px;
	_margin:8px 0 0 3px;
	padding:0 3px 0 3px;
	_padding:2px 3px 0 3px;
	height:20px;
	_height:18px;
	white-space:nowrap; 
	cursor:default;
	float:left;
}
.wMainUserSign
{
	color:#000;
	margin:3px 0 0 12px;
	height:15px;
	cursor:pointer;
}
.wMainToolBar
{
	height:26px;
	padding:2px 5px 0px 5px;
	background-image: url(../Images/ut_bg.gif);
	background-position:bottom;
}
.wMainSearchUserPannel
{
	height:34px;
	background-color:#fff;
	overflow:hidden;
	white-space:nowrap;
}
.wMainTeamGroupPannel
{
	height:34px;
	background-color:#fff;
	overflow:hidden;
	white-space:nowrap;
}
.wMainSearchWebPannel
{
	height:30px;
	padding:3px;
	background-color:#deefd4;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	overflow:hidden;
	white-space:nowrap;
}
.wMainSearchUserBG
{
	background-image:url(../Images/SearchUserBG.gif);
	height:19px;
	border:1px solid #C7C7C7;
	width:100%;
} 
.wMainToolButton
{
	float:left;
	height:20px;
	width:21px;
	font-size:1px;
	padding:4px 0 0 5px;
}
.wMainToolButtonHover
{
	background-image:url(../Images/toolbuttonhoverbg.gif);
}
.wMainContentButton
{
	float:left;
	height:20px;
	width:20px;
	padding:1px;
	font-size:1px;
}
.wMainContentButtonHover
{
	background-image:url(../Images/ContentButtonHoverBG.gif);
}
.wMainListButton
{
	float:left;
	height:20px;
	width:22px;
	font-size:1px;
	padding:1px 1px 3px 4px;
	background:url(../Images/listbuttonbg.gif) no-repeat;
	background-position:3px 0px;
}
.wMainListButtonHover
{
	background:url(../Images/ListButtonHoverBG.gif) no-repeat;
	background-position:3px 0px;
}
.wMainUserHeader
{
	width:100%;
	text-indent:25px;
	line-height:20px;
	height:20px;
	color:#2c7608;
	background:url(../Images/Arrow_r.gif) no-repeat 11px 6px;
}
.wMainUserHeaderHover
{
	background:url(../Images/Arrow_ron.gif) no-repeat 11px 6px;
}
.wMainUserHeaderEx
{
	width:100%;
	text-indent:25px;
	color:#2c7608;
	line-height:20px;
	height:20px;
	background:url(../Images/Arrow_d.gif)  no-repeat 9px 8px;
}
.wMainUserHeaderExHover
{
	background:url(../Images/Arrow_don.gif) no-repeat 9px 8px;
}
.wMainGroupHeader
{
	width:100%;
	text-indent:25px;
	line-height:20px;
	height:20px;
	background:url(../Images/Arrow_r.gif) no-repeat 11px 6px;
}
.wMainGroupHeaderHover
{
	background:url(../Images/Arrow_ron.gif) no-repeat 11px 6px;
}
.wMainGroupHeaderEx
{
	width:100%;
	text-indent:25px;
	line-height:20px;
	height:20px;
	background:url(../Images/Arrow_d.gif)  no-repeat 9px 8px;
}
.wMainGroupHeaderExHover
{
	background:url(../Images/Arrow_don.gif) no-repeat 9px 8px;
}
.wMainUserContainer
{
	width:100%;
}
.wMainUserItem
{
	height:25px;
	padding-left:10px;
	padding-top:1px;
	width:1000px;
	border:1px solid #fff;
}
.wMainUserItemText
{
	line-height:20px;
	/*float:left;*/
	padding:2px 2px;
}
.wMainUserItemBig
{
	height:44px;
	padding-left:16px;
	width:4000px;
}
.wMainUserItemBigLeft
{
	float:left;
	width:52px;
}
.wMainUserItemFaceBG
{
	height:48px;
	width:48px;
	/*padding:6px 0 0 6px;*/
	background-image:url(../Images/FaceBG.gif);
	float:left;
}
.wMainUserItemStatus
{
	float:left;
	height:48px;
	padding-top:3px;
	padding-left:5px;
	width:24px;
}
.UserStatusSwitchArrow
{
	position:absolute;
	cursor:pointer;
	margin-top:7px;!important;
	@margin-top:-4px;!important;
	margin-left:15px;	
}
.UserStatusImg
{
	position:absolute;
	cursor:pointer;
	margin-top:5px;!important;
	@margin-top:-2px;!important;
	margin-left:4px;
}
.UserStatusText
{
	position:absolute;
	margin-top:-18px;
	margin-left:30px;
}
.wMainUserItemBigRight
{
	float:left;
	width:3900px;
}
.wCardBorder
{
	border:1px solid #999;
	position:absolute;
	z-index:9999;
	background-color:#fff;
	display:none;
	height:160px;
	width:228px;
	overflow:hidden;
}
.wCardContainer
{
	position:relative;
	height:150px;
	margin:5px;
	width:4000px;
}
.wCardCloseImage
{
	position:absolute;
	top:2px;
	left:208px;
	width:8px;
	height:8px;
	cursor:pointer;
}
.wCardBaseInfo
{
	height:63px;
	width:4000px;
}
/*Other Window Css*/
.wOther
{
	width:516px;
	height:516px;
	position:absolute;
	border:1px solid #308904;
	background-color:#B3F9FF;
}
.wOtherTitle
{
	height:26px;
	line-height:15px;
	background-image:url(../Images/OtherTitleBG.gif);
	cursor:default;
	overflow:hidden;
}
.wOtherMain
{
	background:#ECF6F9 url(../Images/othermainbg.gif) repeat-x;
	overflow:hidden;
}
/*system object*/
.popMenu {
	border:solid 1px #77ad44;
	display:none;	
	z-index:9999;
	position:relative;
	background-color:#fff;
	color:#000;
	padding:2px;
	filter:progid:DXImageTransform.Microsoft.Shadow(Color=#333333,Direction=120,strength=3);
	overflow:hidden;
}
.popMenuItemWithIcon
{
	padding:0px 10px 0px 30px;
	line-height:19px;
	cursor:default;
	background-position:7px center;
	background-repeat:no-repeat;
}
.popMenuItem
{
	cursor:default;
	line-height:19px;
	padding:0 10px 0 15px;
}
.popMenuItemHover
{
	background-color:#6bb245;
	color:#fff;
}
.popMenuItemDisabled
{
	margin:2px 0 2px 0;
	height:3px;
	font-size:1px;
	background:url(../Images/MenuItemDisabled.gif) repeat-x center 1px;
}
.cCheckBox
{
	height:14px;
	width:14px;
	background:url(../Images/CheckBox.gif) no-repeat 0 0;
	display:block;
	float:left;
	font-size:1px;
}
.cCheckBoxChecked
{
	height:14px;
	width:14px;
	background:url(../Images/CheckBox.gif) no-repeat 0 -14px;
	display:block;
	float:left;
	font-size:1px;
}
/*other*/
.loginTextBox
{
	height:16px;
	width:164px;
	border:1px solid #AAB7C7;
}
.loginTextBoxMini
{
	height:16px;
	width:120px;
	border:1px solid #AAB7C7;
}
.loginStatusSelect
{
	padding:0 7px 0 7px;
	cursor:default;
	float:left;
	line-height:18px;
	margin-left:8px;
	border-left:1px solid #EBF6F9;
	border-right:1px solid #EBF6F9;
}
.loginStatusSelectHover
{
	background:url(../Images/LoginButtonHover.gif) repeat-x;
	border-left:1px solid #A6ABAE;
	border-right:1px solid #A6ABAE;
}
.loginLink
{
	text-decoration:none;
	color:#0088E4;
}
.loginLinkMini
{
	text-decoration:none;
	color:#314a10;
}
.loginLink:hover
{
	text-decoration:underline;
	color:#0088E4;
}
.loginConfirm
{
	height:26px;
	width:66px;
	cursor:pointer;
	overflow:hidden;
	margin-left:40px;
}
.loginConfirmMini
{
	height:26px;
	width:66px;
	cursor:pointer;
	overflow:hidden;
	margin-left:70px;
}
.button1
{
	background:#ECF6F9 url(../Images/ButtonBG.gif) repeat-x;
	border:1px solid #4A95C9;
	height:18px;
}
.adlink
{
	color:#999;
	text-decoration:none;
}
.adlink:hover
{
	color:#333;
	text-decoration:underline;
} 
div.textarea {
	background:#ffffff;
	padding:6px;
	overflow:auto;
	height:85px;
	border:0;
	width:100%;
	font-size:12px;
	outline:none;
}

.miniChat_chat{
   overflow:hidden;
   padding:6px 0 6px 6px;
}

.miniChat_chatBody
{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #C6C6C6;
	overflow:hidden;
	padding:2px 1px 1px 5px;
	position:relative;
	overflow-x: hidden;
	overflow-y: auto;	
	/*_width:425px;*/
}
.miniChat_chatBody li
{
	margin-bottom:8px;
	overflow:hidden;
}
.miniChat_visitor
{
	color:#1478C8;
}
#miniChat_container span 
{
	float:left;
	margin-right:7px;
}
.miniChat_chatInput
{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #C6C6C6;
	height:52px;
	margin:6px 0;
	overflow:hidden;
	padding:2px 3px 3px;
}
.miniChat_chatInput textarea
{
	border:0 none;
	color:#333333;
	font-size:12px;
	height:52px;
	line-height:18px;
	overflow:auto;
	text-align:left;
	width:100%;
}
#miniChat_Room
{
	background-color:#EEEEEE;
	border:1px solid #308904;
	height:320px;
	position:absolute;
	width:604px;
}
#miniChat_Room a
{
	color:#3B54B0;	
}
#miniChat_header
{
	background-position:0 0;
	border-bottom:1px solid #9C9C9C;
	height:35px;
	overflow:hidden;
	padding-right:5px;
}
.miniChat_buttonArea
{
	height:26px;
}
.miniChat_chatArea
{
	float:left;
	width:431px;
	overflow:hidden;
}
.miniChat_groupMember
{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #C6C6C6;
	float:right;
	height:272px;
	margin-right:6px;
	width:150px;
}
.miniChat_hideGroupMember
{
	background-position:-7px -462px;
	cursor:pointer;
	float:right;
	height:50px;
	/*margin-top:200px;*/
	width:6px;
}
.miniChat_infoLinkWrapper
{
	bottom:15px;
	position:absolute;
	right:10px;
}
.miniChat_groupTitle
{
	background-position:0 -109px;
	font-size:12px;
	font-weight:normal;
	height:25px;
	line-height:25px;
	padding-left:8px;
	background-color:Gray;
}
.miniChat_memberList
{
	margin-left:6px;
	overflow-x:hidden;
	overflow-y:auto;
	padding-top:5px;
	height:242px;
}
.miniChat_memberList h3
{
	color:#666666;
	cursor:default;
	font-size:12px;
    font-weight:normal;
	line-height:21px;
	overflow:hidden;
	padding-left:15px;
	white-space:nowrap;
	width:112px;
}

.miniChat_memberList li a
{
color:#666666;
display:block;
line-height:23px;
outline:medium none;
overflow:hidden;
padding-left:20px;
white-space:nowrap;
width:90px;
}

.miniChat_Right
{
	background:url(../Images/arrow_ron.gif) no-repeat 2px;
}
.miniChat_Down
{
	background:url(../Images/arrow_don.gif) no-repeat 2px;
}

.miniChat_alertMsgCon
{
	display:none;
	left:2px;
	position:absolute;
	top:1px;
	width:100%;
}
.miniChat_alertMessage
{
	background:none repeat scroll 0 0 #FFF1CD;
	border:1px solid #DBC286;
	color:#000000;
	font-family:'Arial','Verdana','宋体';
	font-size:12px;
	margin-bottom:1px;
	padding-bottom:2px;
}

/* CSS-POSITION-FIXED IE6 bug */
.fixed-top /* 头部固定 */
{
    position: fixed;
    bottom: auto;
    top: 0px;
}
.fixed-bottom /* 底部固定 */
{
    position: fixed;
    bottom: 0px;
    top: auto;
}
.fixed-left /* 左侧固定 */
{
    position: fixed;
    right: auto;
    left: 0px;
}
.fixed-right /* 右侧固定 */
{
    position: fixed;
    right: 0px;
    left: auto;
}
/* 上面的是除了IE6的主流浏览器通用的方法 */
* html, * html body /* 修正IE6振动bug */
{
    background-image: url(about:blank);
    background-attachment: fixed;
}
* html .fixed-top /* IE6 头部固定 */
{
    position: absolute;
    bottom: auto;
    top: expression(eval(document.documentElement.scrollTop));
}
* html .fixed-right /* IE6 右侧固定 */
{
    position: absolute;
    right: auto;
    left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));
}
* html .fixed-bottom /* IE6 底部固定  */
{
    position: absolute;
    bottom: auto;
    top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
* html .fixed-left /* IE6 左侧固定 */
{
    position: absolute;
    right: auto;
    left: expression(eval(document.documentElement.scrollLeft));
}