﻿body
{
	margin:5px;
	background-color:White;
}
body, th, td, select, textarea, button
{
    font: 12px verdana,Arial, "Lucida Grande" , Helvetica, sans-serif;  
	color:Gray;
}
a 
{
	color:#167FC2;
	text-decoration:none;
}
#ddlGroup
{
	width:100px;
	}

.onlineUserSearch
{
	height: 23px;
	width: 56px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 40px;
	padding-right: 5px;
}
.commonSearch
{
	height: 23px;
	width: 68px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 40px;
}
.trDiv
{
	padding-top: 5px;
}
.hiddenbtn
{
	width: 0px;
	display: none;
}
.button
{
	font: 12px verdana,Arial;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #5090ce;
	margin: 1px 0 1px 0;
	height: 22px;
	line-height: 22px;
}
 .title{ width:200px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

/*-------------------------------
	通用的分页页码样式
	配合JS分页程序使用
---------------------------------*/
.pageNav{
	font-family: "Verdana";
	font-size:9px;
	padding:2px 2px 2px 0px;
	margin-top:5px;
	/*text-align:left;*/
}

.pageNav a
{
	/*display:block;
	float:left;*/
	text-align:center;
	font-family: "Verdana";
	font-size:12px;
	height:16px;
	line-height:16px;
	padding:0 4px;
	margin-left:4px;
	border:1px solid #c3edfe;
	color:#0044dd;
	text-decoration:none;
	blr:expression(this.onFocus=this.blur());
	
}
.pageNav span
{
	/*display:block;
	float:left;*/
	text-align:center;
	font-family: "Verdana";
	font-size:12px;
	height:16px;
	line-height:16px;
	padding:0 4px;
	margin-left:4px;
	border:1px solid #c3edfe;
	background-color:#e7f0f9;
	color:#0044dd;
	text-decoration: none;
}
.pageNav  a:hover { 
	color:#004f97;
	border:1px solid #004f97; 
	text-decoration:none;
}

.pageNav a.Current{
	border:1px solid #FFFFFF;
	color:#004f97;
	font-weight:bold;
}
/*-----分页页码 样式 结束--------*/