<div class="wOtherMain" id="wOtherMainId[id]Type[type]">
	<div style="padding:10px 22px 5px 22px;line-height:150%" id="divMsgId[id]Type[type]"></div>    
</div>
<div class="wOtherMain" style="height:30px;text-align:center">
    <input class="button1" id="btnSelId[id]Type[type]" value="确定" style="width:80px" type="button" onclick="gWindowManager.GetWindow([id],[type]).win.Close()"/>
<div>