<div class="wChatTool" id="wChatTooleId[id]Type[type]">
    <div id="ChatUserFaceBG[id]Type[type]" class="ChatUserFaceBG">
        <img src="[dpath]/Images/style/01/ChatUserFaceBG.gif" />
    </div>
    <div id="ChatUserFace" class="ChatUserFace">
        <img id="ChatUserFace[id]Type[type]" src="[dpath]/Images/style/01/ChatUser0.gif" />
    </div>
    <div class="wChatSignHolder" id="wChatSignHolderId[id]Type[type]">
        <div class="wChatSign" id="wChatSignId[id]Type[type]">
        </div>
    </div>
    <!--	<div class="wChatToolBar">
		<div id="wChatButtonBlockId[id]Type[type]" class="wChatToolBarButton" onmouseover="this.className='wChatToolBarButton wChatToolBarButtonHover'" onmouseout="this.className='wChatToolBarButton'">
			<img src="[dpath]/Images/chatbuttoncancelblock.gif" style="height:30px;width:29px" title="屏蔽此好友"/>
		</div>
		<div id="wChatButtonHistoryId[id]Type[type]" class="wChatToolBarButton" onmouseover="this.className='wChatToolBarButton wChatToolBarButtonHover'" onmouseout="this.className='wChatToolBarButton'">
			<img src="[dpath]/Images/chatbuttonhistory.gif" style="height:30px;width:29px" title="查看聊天历史记录"/>
		</div>
	</div>-->
</div>
<div class="wChatMain" id="wChatMainId[id]Type[type]">
    <div style="border: 1px solid #BED6E0; background-color: #fff; /*position:relative*/">
        <div id="wChatHintBoder[id]Type[type]" class="ChatHintBoder">
            <div id="wChatHint[id]Type[type]" class="ChatHint">
                <img src="[dpath]/Images/alert.gif" title="提示" style="padding: 3px 0 3px 3px" />
                <span id="ChatHintText[id]Type[type]" class="ChatHintText">对方可能不在线，上线后只能收到最后10条消息。</span>
                <img src="[dpath]/Images/ChatHintClose.gif" id="ChatHintClose[id]Type[type]" title="关闭此提示"
                    style="position: absolute; right: 0px; float: right; padding-top: 5px; padding-right: 5px;
                    cursor: pointer;" />
            </div>
        </div>
        <div id="wChatViewId[id]Type[type]" style="height: 120px; overflow-x: hidden; overflow-y: auto;
            word-break: break-all; text-align: left;">
        </div>
         <div id="wChatViewFont[id]Type[type]" class="wChatViewFontBar" style="display: none;">
        </div>
    </div>
 
    <div id="wChatResizeId[id]Type[type]" class="wChatResize">
    </div>
    <div style="border: 1px solid #BED6E0; background-color: #fff; overflow: hidden">
        <div class="wChatFaceButtonBar">
            <div id="wChatFaceButtonFaceId[id]Type[type]" style="float: left; overflow: hidden;
                height: 22px; width: 22px" onmouseup="this.scrollTop='22'" onmouseover="this.scrollTop='22'"
                onmousedown="this.scrollTop='44'" onmouseout="this.scrollTop='0'">
                <img src="[dpath]/Images/FaceButtonFace.gif" title="选择表情" />
            </div>
            <div id="wChatFontId[id]Type[type]" style="float: left; overflow: hidden; height: 22px;
                width: 22px" onmouseup="this.scrollTop='22'" onmouseover="this.scrollTop='22'"
                onmousedown="this.scrollTop='44'" onmouseout="this.scrollTop='0'">
                <img src="[dpath]/Images/Font.gif" title="选择字体" />
            </div>
            <div id="wChatFaceButtonFlashId[id]Type[type]" style="float: left; overflow: hidden;
                height: 22px; width: 22px" onmouseup="this.scrollTop='22'" onmouseover="this.scrollTop='22'"
                onmousedown="this.scrollTop='44'" onmouseout="this.scrollTop='0'">
                <img src="[dpath]/Images/FaceButtonFlash.gif" title="发送闪屏振动" />
            </div>
        </div>
        <textarea id="wChatInputId[id]Type[type]" tid="[type]" uid="[id]" style="height: 85px;
            border: 0; width: 100%; font-size: 12px;overflow: auto"></textarea>
    </div>
    <div style="float: right; padding-top: 6px; -moz-user-select: none;">
        <div style="width: 68px;">
            <div id="wChatBtnSendId[id]Type[type]" style="float: left; overflow: hidden; height: 26px;
                width: 47px" onmouseup="this.scrollTop='26'" onmousedown="this.scrollTop='52'"
                onmouseover="this.scrollTop='26'" onmouseout="this.scrollTop='0'">
                <img src="[dpath]/Images/ButtonSendMsg.gif" title="发送您的消息" />
            </div>
            <div id="wChatBtnOptionId[id]Type[type]" style="float: left; overflow: hidden; height: 26px;
                width: 19px" onmouseup="this.scrollTop='26'" onmousedown="this.scrollTop='52'"
                onmouseover="this.scrollTop='26'" onmouseout="this.scrollTop='0'">
                <img src="[dpath]/Images/ButtonSendType.gif" title="快速回复" />
            </div>
        </div>
    </div>
</div>
<div class="wChatSide" id="wChatSideId[id]Type[type]">
    <div class="wChatUserFace" style="top: 5px; left: 5px">
        <img id="wChatFaceFriendId[id]Type[type]" src="[dpath]/UserAvatar/default.gif" style="width: 94px;
            height: 94px" />
    </div>
    <div class="wChatUserFace" style="bottom: 10px; left: 5px">
        <img id="wChatFaceMeId[id]Type[type]" src="[dpath]/UserAvatar/default.gif" style="width: 94px;
            height: 94px" />
    </div>
</div>
<div class="wChatSideBar" id="wChatSideBarId[id]Type[type]" onselectstart="return false">
    <img src="[dpath]/Images/chatsidebutton.gif" />
</div>
<div id="wChatResizeBarId[id]Type[type]" class="wChatResizeBar">
</div>
