<div class="wOtherMain" id="wOtherMainId[id]Type[type]" style="overflow-x:hidden;overflow-y:auto;">
	<div style="height:25px;height:25px;padding:10px 22px 5px 22px;line-height:150%;" id="divMsgId[id]Type[type]"></div>
</div>
<div class="wOtherMain" style="height:30px;text-align:center">
    <input class="button1" value="确定" style="width:60px" type="button" onclick="WebElement.Hid('windowCover');gWindowManager.GetWindow([id],[type]).win.Close(true)"/>&nbsp;&nbsp;
    <input class="button1" id="btnSelId[id]Type[type]"  value="取消" style="width:60px" type="button" onclick="WebElement.Hid('windowCover');gWindowManager.GetWindow([id],[type]).win.Close(false)"/>
<div>