<div class="wOtherMain" id="wOtherMainId[id]Type[type]" style="padding:0 20px 0 20px;">
	<div style="padding-top:15px">
		<div style="height:100px">
			<div style="height:18px">用户名:</div>
			<div><input id="tbUserNameId[id]Type[type]" type="text" class="loginTextBox"/></div>
			<div style="height:18px;padding-top:8px">密码:</div>
			<div><input id="tbPassId[id]Type[type]" type="password" class="loginTextBox"/></div>
		</div>
		<div style="height:140px">
			<div id="divLoginId[id]Type[type]">
				<div style="width:100%;float:left;height:18px">
					<div style="float:left;line-height:18px">登录状态(G):</div>
					<div id="divStatusId[id]Type[type]" us="0" class="loginStatusSelect" onmouseover="this.className='loginStatusSelect loginStatusSelectHover'" onmouseout="this.className='loginStatusSelect'">
						联机
					</div>
				</div>
				<div style="height:18px;padding-top:8px;width:100%;float:left;">
					<input id="cbSaveUserId[id]Type[type]" type="checkbox" checked="checked"/>
				</div>
				<div style="height:18px;padding-top:3px;width:100%;float:left;text-indent:18px">
					<a href="#"  id="linkDelCookieId[id]Type[type]"  class="loginLink">(删除我的信息)(M)</a>
				</div>
				<div style="height:18px;padding-top:8px;width:100%;float:left;">
					<input id="cbSavePassId[id]Type[type]" type="checkbox"/>
				</div>
				<div style="height:18px;padding-top:8px;width:100%;float:left;">
					<input id="cbAutoLoginId[id]Type[type]" type="checkbox"/>
				</div>
			</div>
			<div id="divLoginingId[id]Type[type]" style="display:none;padding-top:35px;text-align:center">
				登录中...
			</div>
		</div>
		<div style="height:80px">
			<div style="width:100%;float:left">
				<div id="btnLoginId[id]Type[type]" class="loginConfirm" onmouseup="this.scrollTop='26'" onmousedown="this.scrollTop='52'" onmouseover="this.scrollTop='26'" onmouseout="this.scrollTop='0'">
					<img src="[dpath]/Images/ButtonLogin.gif"/>
				</div>
			</div>
		</div>
		<div>
			<div style="width:100%;float:left;padding-top:3px;">
				<a href="#" onclick="_webIM.CMD.showRegWindow()" class="loginLink">注册新帐号</a>
			</div>
		</div>
	</div>
</div>