<div class="wMainTool" id="wMainToolId[id]Type[type]">
    <div id="wMainUserInfoId[id]Type[type]" class="wMainUserInfo">
        <div class="wMainUserFaceBG">
            <img id="wMainUserFaceId[id]Type[type]" src="[dpath]/UserAvatar/male.gif" style="width: 40px;
                height: 40px; cursor: pointer" title="查看您的好友卡片" />
        </div>
        <div id="wMainUserInfoRightId[id]Type[type]" class="wMainUserInfoRight">
            <!--<div style="width:100%;float:left;display:inline;">-->
            <div class="wMainUserName">
                <div class="UserStatusSwitchArrow" onmouseup="$('btnUserStatusSwitch[id]Type[type]').scrollTop='18'"
                    onmousedown="$('btnUserStatusSwitch[id]Type[type]').scrollTop='36'" onmouseover="$('btnUserStatusSwitch[id]Type[type]').scrollTop='18'"
                    onmouseout="$('btnUserStatusSwitch[id]Type[type]').scrollTop='0'">
                    <img id="UserStatusSwitch[id]Type[type]" src="[dpath]/Images/ArrowDown.gif" />
                </div>
                <div class="UserStatusImg" onmouseup="$('btnUserStatusSwitch[id]Type[type]').scrollTop='18'"
                    onmousedown="$('btnUserStatusSwitch[id]Type[type]').scrollTop='36'" onmouseover="$('btnUserStatusSwitch[id]Type[type]').scrollTop='18'"
                    onmouseout="$('btnUserStatusSwitch[id]Type[type]').scrollTop='0'">
                    <img id="UserStatusImg[id]Type[type]" src="[dpath]/Images/style/01/s1.gif" />
                </div>
                <div id="btnUserStatusSwitch[id]Type[type]" class="userStatusSwitch" onmouseup="this.scrollTop='18'"
                    onmousedown="this.scrollTop='36'" onmouseover="this.scrollTop='18'" onmouseout="this.scrollTop='0'">
                    <img src="[dpath]/Images/UserStatusBG.gif" />
                </div>
                <div class="UserStatusText">
                    <span id="wMainUserNameId[id]Type[type]">加载中</span>
                </div>
            </div>
            <!--</div>-->
            <div style="width: 100%; float: left">
                <div id="wMainUserSignId[id]Type[type]" class="wMainUserSign" title="点击修改">
                    加载中</div>
            </div>
        </div>
    </div>
    <div id="wMainToolBarId[id]Type[type]" class="wMainToolBar">
        <div class="UTSwitchPannel">
            <div class="UTSwitch">
                <ul>
                    <li id="MyUsers" class="UTCurrent" s="1" title="好友">好友</li>
                    <li id="MyTeams" class="UTNormal" s="0" title="群">群</li>
                </ul>
            </div>
        </div>
        <!--<div id="wMainShowFocusId[id]Type[type]" class="wMainToolButton" onmouseover="this.className='wMainToolButton wMainToolButtonHover'" onmouseout="this.className='wMainToolButton'">
			<img src="[dpath]/Images/toolshowfocus.gif" style="height:16px;width:17px" title="打开今日焦点"/>
		</div>
		<div id="wMainShowHistoryId[id]Type[type]" class="wMainToolButton" onmouseover="this.className='wMainToolButton wMainToolButtonHover'" onmouseout="this.className='wMainToolButton'">
			<img src="[dpath]/Images/toolmsghistory.gif" style="height:16px;width:17px" title="打开聊天记录"/>
		</div>
		<div id="wMainProfileId[id]Type[type]" class="wMainToolButton" onmouseover="this.className='wMainToolButton wMainToolButtonHover'" onmouseout="this.className='wMainToolButton'">
			<img src="[dpath]/Images/toolprofile.gif" style="height:16px;width:17px" title="编辑个人资料"/>
		</div>
		<div id="wMainOptionId[id]Type[type]" class="wMainToolButton" onmouseover="this.className='wMainToolButton wMainToolButtonHover'" onmouseout="this.className='wMainToolButton'">
			<img src="[dpath]/Images/ToolOption.gif" style="height:16px;width:17px" title="选项"/>
		</div>
        <div id="wMainChangeContactId[id]Type[type]" class="wMainToolButton" onmouseover="this.className='wMainToolButton wMainToolButtonHover'" onmouseout="this.className='wMainToolButton'">
            <img src="[dpath]/Images/User.gif" style="height:16px;width:17px" title="好友"/>
        </div>
        <div id="wMainChangeTeamId[id]Type[type]" class="wMainToolButton" onmouseover="this.className='wMainToolButton wMainToolButtonHover'" onmouseout="this.className='wMainToolButton'">
            <img src="[dpath]/Images/Team.gif" style="height:16px;width:17px" title="群/讨论组"/>
        </div>        
		<div id="wMainManageId[id]Type[type]" class="wMainToolButton" onmouseover="this.className='wMainToolButton wMainToolButtonHover'" onmouseout="this.className='wMainToolButton'" style="display:none">
			<img src="[dpath]/Images/toolmanage.gif" style="height:16px;width:17px" title="管理"/>
		</div>-->
    </div>
</div>
<div class="wMainSearchUserPannel">
    <div style="float: left; padding: 8px 8px 0 6px" id="wMainSearchUserId[id]Type[type]">
        <input title="通过输入昵称或帐号来查找好友" id="inputSearchId[id]Type[type]" style="padding-right: 15px"
            class="wMainSearchUserBG" type="text" />
    </div>
    <div style="padding-top: 8px">
        <!--<div id="wMainAddFriendId[id]Type[type]" class="wMainContentButton" onmouseover="this.className='wMainContentButton wMainContentButtonHover'" onmouseout="this.className='wMainContentButton'">
			<img src="[dpath]/Images/ToolAddFriend.gif" style="height:20px;width:20px" title="添加好友"/>
		</div>-->
        <div id="wMainAddFriendId[id]Type[type]" class="wMainContentButton">
        </div>
        <div id="wMainListTypeId[id]Type[type]" class="wMainContentButton" onmouseover="this.className='wMainContentButton wMainContentButtonHover'"
            onmouseout="this.className='wMainContentButton'">
            <img src="[dpath]/Images/ToolListType.gif" style="height: 20px; width: 20px" title="对好友进行排序" />
        </div>
    </div>
</div>
<div class="wMainMain" id="wMainMainId[id]Type[type]" onselectstart="return false"
    onmouseup="_webIM.Common.showContextMenu(this,event,[type],[id])" ulist="1">
    分组及好友加载中...
</div>
<div class="wMainMain" id="wMainTeamGroupId[id]Type[type]" onselectstart="return false"
    style="display: none">
    <!--群/聊天室加载中...-->
</div>
<div class="wMainSearchWebPannel">
    <!--<span style="color:#000000">群/讨论组</span><br />-->
    <div style="padding-top: 3px">
        <div style="float: left; height: 23px;overflow: hidden" onmouseup="this.scrollTop='23'"
            onmousedown="this.scrollTop='46'" onmouseover="this.scrollTop='23'" onmouseout="this.scrollTop='0'">
            <img style=" cursor:pointer" id="MainAddFriend[id]Type[type]" src="[dpath]/Images/AddFriend.gif" />
        </div>
        <div style="float: right;height: 23px; margin-right:5px; overflow: hidden" onmouseup="this.scrollTop='23'" onmousedown="this.scrollTop='46'"
            onmouseover="this.scrollTop='23'" onmouseout="this.scrollTop='0'">
            <img style=" cursor:pointer"  id="IMConfig[id]Type[type]" src="[dpath]/Images/IMConfig.gif" /></div>
    </div>
    <!--<a class="adlink" id="wMainSearchTeam[id]Type[type]" href="#">查找群</a>
	<a class="adlink" id="wMainCreateTeam[id]Type[type]" href="#">创建群</a>-->
</div>
<input type="text" id="txtUserSignId[id]Type[type]" style="position: absolute; top: 58px;
    left: 65px; height: 14px; width: 100px; border: 1px solid #7F9DB9; display: none" />
<img id="imgSearchId[id]Type[type]" style="display: none; position: absolute; top: 126px;
    right: 40px; height: 8px; width: 8px; cursor: pointer" title="清除搜索" src="[dpath]/Images/Close.gif"
    onmouseover="this.src='[dpath]/Images/CloseHover.gif'" onmouseout="this.src='[dpath]/Images/Close.gif'" />
