﻿<div id="miniChat_Room">
    <div id="miniChat_container">
        <div class="miniChat_chat">
            <div class="miniChat_groupMember">
                <div class="miniChat_infoLinkWrapper">
                    <a href="http://et.sdo.com" target="_blank">官网</a> <a></a>
                </div>
                <div class="miniChat_groupTitle" id="wMiniTeamChatMCount[id]Type5">
                </div>
                <div class="miniChat_memberList">
                    <div id="wMiniTeamChatName[id]Type5">
                    </div>
                    <h3 id="wMiniTeamChatMem[id]Type5" class="miniChat_Down">
                        成员</h3>
                    <ul id="wMiniTeamChatMemL[id]Type5">
                    </ul>
                    <h3 id="wMiniTeamChatGuest[id]Type5" class="miniChat_Down">
                        游客</h3>
                    <ul id="wMiniTeamChatGuestL[id]Type5">
                    </ul>
                </div>
            </div>
            <!--div class="miniChat_hideGroupMember"></div-->
            <div class="miniChat_chatArea">
                <div class="miniChat_chatBody" id="wMiniTeamChatViewId[id]Type5Div" style="height: 204px">
                    <ul id="wMiniTeamChatViewId[id]Type5">
                    </ul>
                </div>
                <div class="miniChat_chatInput">
                    <div>
                        <textarea id="wChatInputId[id]Type[type]"></textarea></div>
                </div>
                <div class="miniChat_buttonArea">
                    <!--div id="wMiniChatFaceButtonFaceId[id]Type[type]" style="float: left; overflow: hidden;
                            height: 22px; width: 22px" onmouseup="this.scrollTop='22'" onmouseover="this.scrollTop='22'"
                            onmousedown="this.scrollTop='44'" onmouseout="this.scrollTop='0'">
                            <img src="[dpath]/Images/FaceButtonFace.gif" title="选择表情" />
                        </div-->
                    <div id="wMiniChatBtnOption[id]Type[type]" style="float: right; overflow: hidden;
                        height: 26px; width: 19px" onmouseup="this.scrollTop='26'" onmousedown="this.scrollTop='52'"
                        onmouseover="this.scrollTop='26'" onmouseout="this.scrollTop='0'">
                        <img src="../Images/ButtonSendType.gif" title="快速回复" />
                    </div>
                    <div id="wMiniChatSendBtn[id]Type[type]" style="float: right; overflow: hidden; height: 26px;
                        width: 47px;" onmouseup="this.scrollTop='26'" onmousedown="this.scrollTop='52'"
                        onmouseover="this.scrollTop='26'" onmouseout="this.scrollTop='0'">
                        <img src="../Images/ButtonSendMsg.gif" title="发送您的消息" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="miniChat_Loading" style="background-color: White; color: Gray; border: 1px solid #308904;
    height: 320px; position: absolute; width: 604px; display: none;">
    <div style="position: absolute; top: 130px; left: 230px">
        <img src="[dpath]/Images/loading.gif"></img>正在加载...请稍候...
    </div>
</div>
