<div class="wOtherMain" id="wOtherMainId[id]Type[type]">
	<div style="height:25px;height:25px;padding:10px 15px 5px 15px;line-height:150%">
		<select style="width:175px" id="divSelectId[id]Type[type]"></select>
	</div>
</div>
<div class="wOtherMain" style="height:30px;text-align:center">
    <input class="button1" id="btnSelId[id]Type[type]"  value="确定" style="width:60px" type="button" onclick="WebElement.Hid('windowCover');gWindowManager.GetWindow([id],[type]).win.Close($F('divSelectId[id]Type[type]'))"/>&nbsp;&nbsp;
    <input class="button1" value="取消" style="width:60px" type="button" onclick="WebElement.Hid('windowCover');gWindowManager.GetWindow([id],[type]).win.Close('')"/>
<div>