<div class="wSideBarMain" id="SideBarMainId[id]Type[type]">
	<div>
		<div style="height:30px;">
			<div id="divOnlines" style="font:12px 宋体, Arial, Helvetica, sans-serif;;width:95px;float:left;padding-left:6px;text-align:center; padding-top:9px">
            	在线
			</div>
			<div id="divSplit1" style="width:2px;float:left;padding-top:1px;">
            	<img src="[dpath]/Images/style/01/sidebar_split.gif"/>
			</div>            
			<div id="divJoin" style="width:58px;float:left;padding-top:3px;">
				<div id="btnJoinId[id]Type[type]" class="SideBarJoin" onmouseup="this.scrollTop='24'" onmousedown="this.scrollTop='48'" onmouseover="this.scrollTop='24'" onmouseout="this.scrollTop='0'">
					<img src="[dpath]/Images/style/01/sidebar_join.gif"/>
				</div>                
			</div>
			<div id="divSplit2" style="width:2px;float:left;padding-top:1px;">
            	<img src="[dpath]/Images/style/01/sidebar_split.gif"/>
			</div> 
			<div id="divAddFriend" style="width:80px;float:left;padding-top:3px;">            	
				<div id="btnAddFriend" class="SideBarAddFriend" onmouseup="this.scrollTop='24'" onmousedown="this.scrollTop='48'" onmouseover="this.scrollTop='24'" onmouseout="this.scrollTop='0'">
					<img id="imgAddFriend" src="[dpath]/Images/style/01/sidebar_add_friend.gif"/>                                                            
				</div>
                <div id="myFriendCount" style="font:12px 宋体, Arial, Helvetica, sans-serif;;position:absolute;margin-top:-18px;padding-left:25px;display:inline;color:#216500;"></div>                
			</div>              
			<div id="divSplit3" style="width:2px;float:left;padding-top:1px;">
            	<img src="[dpath]/Images/style/01/sidebar_split.gif"/>
			</div> 
			<div id="divSwitch" style="width:24px;float:left;padding-top:3px;">
				<div id="btnSwitchId[id]Type[type]" class="SideBarCollapse" onmouseup="this.scrollTop='24'" onmousedown="this.scrollTop='48'" onmouseover="this.scrollTop='24'" onmouseout="this.scrollTop='0'">
					<img id="imgSwitch" src="[dpath]/Images/style/01/sidebar_collapse.gif"/>
				</div>                
			</div>                                                         
		</div>
	</div>
</div>