<div class="wTeamLeft">
    <div id="wTeamLeftTopId[id]Type[type]" class="wTeamLeftTop">
        <img src="[dpath]/Images/book.gif" style="height: 158px; width: 128px" title="书名" />
    </div>
    <div id="wTeamLeftBottomId[id]Type[type]" class="wTeamLeftBottom">
        <p>
            狂风肆虐，风起云涌。 天地间，黄沙渐起，扭转成巨大的漩涡，就像是狂奔的龙卷风席卷人间。</p>
        <p>
            巨石在瞬间被炸成碎片，咆哮的狂风犹如无数厉鬼一般哭嚎。</p>
        <p>
            空间瞬间扩大，然后又瞬间压缩。</p>
        <p>
            树叶脱离了树枝的束缚，宛如无数的精灵一般飘向浩渺的天宇。</p>
        <p>
            光线摇摇晃晃，河流逆向而行。</p>
    </div>
</div>
<div class="wTeamCenter" id="wTeamCenterId[id]Type[type]">
    <div style="border: 1px solid #BED6E0; background-color: #fff">
        <div id="wTeamChatViewId[id]Type[type]" style="height: 365px; overflow-x: hidden;
            overflow-y: auto; word-break: break-all; text-align: left">
        </div>
    </div>
    <!--<div id="wMainToolBarId[id]Type[type]" class="wMainToolBar">
            <div class="UTSwitchPannelMirror">
                <div class="UTSwitchMirror">
                    <ul>
                        <li id="AllMessages" class="UTCurrentMirror" s="1" title="全部">全部</li>
                        <li id="ChoiceMessages" class="UTNormalMirror" s="0" title="精华">精华</li>
                    </ul>
                </div> 
            </div>
        </div> -->
    <div id="wTeamChatResizeId[id]Type[type]" class="wChatResize">
    </div>
    <!--<div class="wTeamPravite" id="wwTeamPravite[id]Type[type]" onselectstart="return false">
        <div style="border:1px solid #BED6E0;background-color:#fff">
            <div id="wChatPraviteViewId[id]Type[type]" style="height:100px;overflow-x:hidden;overflow-y:auto;word-break:break-all;text-align:left"></div>
        </div>
    </div> -->
    <div style="border: 1px solid #BED6E0; background-color: #fff; overflow: hidden">
        <div class="wChatFaceButtonBar">
            <div id="wChatFaceButtonFaceId[id]Type[type]" style="float: left; overflow: hidden;
                height: 22px; width: 22px" onmouseup="this.scrollTop='22'" onmouseover="this.scrollTop='22'"
                onmousedown="this.scrollTop='44'" onmouseout="this.scrollTop='0'">
                <img src="[dpath]/Images/FaceButtonFace.gif" title="选择表情" />
            </div>
            <!--<div id="wChatFontId[id]Type[type]" style="float:left;overflow:hidden;height:22px;width:22px" onmouseup="this.scrollTop='22'" onmouseover="this.scrollTop='22'" onmousedown="this.scrollTop='44'" onmouseout="this.scrollTop='0'">
				<img src="[dpath]/Images/Font.gif" title="选择字体"/>
			</div> -->
        </div>
        <textarea id="wChatInputId[id]Type[type]" style="height: 120px; border: 0; width: 100%;
            font-size: 12px; overflow: auto"></textarea>
    </div>
    <div style="float: right; padding-top: 6px; -moz-user-select: none;">
        <div style="width: 68px;">
            <div id="wTeamChatBtnSendId[id]Type[type]" style="float: left; overflow: hidden;
                height: 26px; width: 47px" onmouseup="this.scrollTop='26'" onmousedown="this.scrollTop='52'"
                onmouseover="this.scrollTop='26'" onmouseout="this.scrollTop='0'">
                <img src="[dpath]/Images/ButtonSendMsg.gif" title="发送您的消息" />
            </div>
            <div id="wChatBtnOptionId[id]Type[type]" style="float: left; overflow: hidden; height: 26px;
                width: 19px" onmouseup="this.scrollTop='26'" onmousedown="this.scrollTop='52'"
                onmouseover="this.scrollTop='26'" onmouseout="this.scrollTop='0'">
                <img src="[dpath]/Images/ButtonSendType.gif" title="快速回复" />
            </div>
        </div>
    </div>
</div>
<div class="wTeamRight" id="wTeamRightId[id]Type[type]">
    <div class="wTeamUserList" id="wTeamUserListId[id]Type[type]" style="top: 1px; left: 0px"
        oncontextmenu="return !!0;">
    </div>
</div>
<div id="wTeamChatResizeBarId[id]Type[type]" class="wTeamChatResizeBar">
</div>
